<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout.html}">

<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title">게시판 목록보기</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Bno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">PostDate</th>
                    <th scope="col">ReadCount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dto:${list}">
                    <th scope="row">[[${dto.bno}]]</th>
                    <td><a th:href="@{/board/read(bno=${dto.bno})}">[[${dto.title}]]</a></td>
                    <td>[[${dto.writer}]]</td>
                    <td>[[${dto.postdate}]]</td>
                    <td>[[${dto.readcount}]]</td>
                </tr>
                </tbody>
            </table>
            <div class="mb-3">
                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-primary">글쓰기</button>
                </a>
            </div>
        </div>

    </div>
</div>